.customer-details-area {
  padding: 35px 0 40px;
}
.customer-details-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.customer-details-content .icon {
  margin-right: 25px;
  max-width: 16vw;
}
.customer-details-content .content {
  flex-grow: 1;
}
.customer-details-content .content .title {
  font-size: 26px;
  color: #571336;
  margin-bottom: 10px;
  font-weight: 600;
}
.customer-progress-wrap {
  position: relative;
  padding: 16px 0 49px;
}
.customer-progress-wrap .progress {
  height: 7px;
  background-color: #ebebee;
  border-radius: 0;
}
.customer-progress-wrap .progress .progress-bar {
  background-color: #ffa903;
}
.customer-progress-step {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.customer-progress-step ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customer-progress-step ul li span {
  width: 42px;
  height: 42px;
  flex: 0 0 42px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 5px solid #ffa903;
  font-size: 18px;
  font-weight: 700;
  color: #571336;
  margin-bottom: 8px;
}
.customer-progress-step ul li p {
  margin-bottom: 0;
  color: #6a2e4d;
  font-weight: 500;
}
.customer-progress-step ul li:nth-child(2) {
  text-align: center;
}
.customer-progress-step ul li:nth-child(2) span {
  margin: 0 auto 8px;
}
.customer-progress-step ul li:last-child span {
  margin-left: auto;
}
/* Responsiveness */
@media (max-width: 767.98px) {
  .customer-details-content .icon {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 767.98px) {
  .customer-details-content .content .title {
    font-size: 18px;
  }
}
@media (max-width: 991.98px) {
  .customer-details-content .content .title {
    font-size: 20px;
  }
}

/* Booking Details Area  */
.booking-details-area {
  padding: 80px 0 80px;
  background: #fbf9f2;
}
.booking-details-area .primary-contact {
  display: flex;
  align-items: center;
  background: #57112f;
  padding: 15px 30px;
  border-radius: 5px 5px 0 0;
}
.booking-details-area .primary-contact i {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}
/* Responsive code  */
@media (max-width: 1199.98px) {
  .booking-details-area .row .col-73 {
    width: 100%;
    flex: 0 0 100%;
  }
}
